.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30%;
  height: 100vh;
  justify-content: center;
}

.center-top {
  display: flex;
  background-color: var(--main-bg-color);
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-right: 10%;
  margin-left: 5%;
}

.center-down {
  flex-grow: 5;
  background-image: url("../assets/marshall_headset_3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
