@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-bg-color: white;
  --main-txt-dark-color: black;
  --secondary-bg-dark-color: #232321;
  --secondary-txt-light-color: #7d7d87;
  --secondary-txt-dark-color: #242635;
}

.title {
  font-family: Poppins;
  font-size: 72px;
  font-weight: 700;
  color: var(--secondary-txt-dark-color);
}

.subtitle {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  color: var(--secondary-txt-light-color);
}

.first-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: var(--main-bg-color);
}

.second-text {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  color: var(--main-bg-color);
}

.link {
  font-family: Poppins;
  color: var(--secondary-txt-dark-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30%;
  height: 100vh;
  justify-content: center;
}

.center-top {
  display: flex;
  background-color: var(--main-bg-color);
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-right: 10%;
  margin-left: 5%;
}

.center-down {
  flex-grow: 5;
  background-image: url("../assets/marshall_headset_3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.left {
  background-color: var(--main-bg-color);
  width: 100%;
  max-width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 50px;
}

.left-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  width: 125px;
}

.left-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.left-down {
  display: flex;
}

.right {
  width: 100%;
  height: 100vh;
  max-width: 30%;
}

.right-top {
  background-image: url("../assets/marshall_headset_2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  max-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-top img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.right-down {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg-dark-color);
  height: 100%;
  max-height: 50%;
  color: var(--main-txt-color);
  justify-content: space-between;
  padding: 60px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1080px) {
  .left {
    max-width: 50%;
  }
  .center {
    max-width: 50%;
  }
  .right {
    display: flex;
    max-width: 100%;
    height: 60vh;
    flex-direction: row;
  }
  .right-top {
    width: 50%;
    max-height: 100%;
  }
  .right-down {
    width: 50%;
    max-height: 100%;
  }
}
@media (max-width: 740px) {
  .left {
    max-width: 100%;
  }
  .center {
    max-width: 100%;
  }
  .right {
    height: 50vh;
  }
  .right-down {
    padding: 40px;
  }
}
@media (max-width: 600px) {
  .first-text {
    font-size: 12px;
  }
  .second-text {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */